div{
    background:rgb(255, 246, 125);
}
h3{
    background: rgb(88, 113, 255);
}

*{/*Selector universal*/
 margin: 20px;
}

div p{
    color: white;
}

div p a{
    color: blueviolet;
}

.contenedor{
    background:rgb(148, 202, 223);
}

#parrafo{
    font-size: 32px;
}

input[type="submit"]:hover{
    background: #000;
}
input[type="text"]{
    background: #ccc;
    text-decoration: underline;
}