body{
    background: rgb(71, 71, 71);
}
img{
    opacity: 0.3;
    width: 30.5%;
    margin: 1%;
    border-radius: 10px;
    padding: 3px;
}
img:hover{
    opacity: 1;
    border: solid 1px white;
    border-radius: 10px;
    padding: 5px;
    width: 28%;
}