nav{
    background-color: rgb(99, 99, 129);
    padding: 15px;
    border-radius: 10px;
    width: 96%;
    position: relative;
}
nav a{
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 5px;
    border-left: solid 0.5px;
    border-right: solid 0.5px;
}
nav a:hover{
    background-color: rgb(146, 146, 177);
    color: black;
    scale: 1.1;
    border-left: solid 0.5px black;
    border-right: solid 0.5px black;
    border-radius: 10px;
} 

div.margin{
    text-align: center;
    background: rgb(73, 86, 110);
    color: white;
    width: 50%;
    margin: 20px;
    padding: 20px;
   
}
div.border{
    border: solid 25px rgb(79, 117, 167);
    background-color: rgb(79, 117, 167);
    padding-top: 0;
    margin-top: 0;
}
div.pad{
    background-color:  #5D6D7E;
    padding: 15px;
}
div.pad p{
    background-color: #4e5761;
}
.azul{
    background: rgb(73, 86, 110);
    padding: 5px;
    margin: 5px;
}
.CAJA1{
    text-align: center;
    width: 75%;
    border: solid 4px rgb(73, 86, 110);
    border-radius: 10px;
}
.CAJA2{
    width: 75%;
    border: solid 4px rgb(79, 117, 167);
    border-radius: 10px;

}
.CAJA3{
    width: 75%;
    border: solid 4px #5D6D7E;
    border-radius: 10px;
}
.CAJA4{
    width: 75%;
    border: solid 4px #4e5761;
    border-radius: 10px;
}
