body{
    font-family:monospace;
    background-color: rgb(156, 156, 156);
}
h1{
    text-shadow:0 0 5px red;
    font-size:85px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: fantasy;
    color: rgb(48, 48, 48);
}
h1:hover{
    text-shadow: 0 0 5px rgb(224, 0, 19);
    color: black;
}
div.nav p{
    float: left;
    width: 25%;
    background-color: rgb(212, 212, 212);
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
div p a{
    text-decoration: none;
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    font-family: cursive;
    font-size: medium;
    opacity: 1;
}
div p a:hover{
    opacity: 0.2;
}
img{
    width: 100%;
    float: unset;
    border-radius: 10px;
}
article{
    float: left;
    width: 22%;
    text-align: center;
    padding: 1.1%;
    background-color: rgb(219, 219, 219);
    border-radius: 10px;
    margin: 3px;
    border: solid 0.5px black;
}
article:hover{
    scale: 1.1;
    
}


